/*-- scss:defaults --*/

/*-- scss:rules --*/

/*-- sidebar --*/
.toc-active {
    color: #55595c;
}

#TOC .nav-link {
    color: #55595c;

    &:hover {
        color: green !important;
    }

    &:active {
        color: green !important;
    }
}

.sidebar nav[role=doc-toc] ul>li>a.active,
.sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    color: green !important;

}